/*------------ font style ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/*-----------------------------------1st part css---------------------------*/
h1{
    font-size: 64px;
    color: #FFFFFF;
}
.america-border{
    background-color: #2D25A0;
    width:100%;
    height: 677px;
}
.banner-flex{
    display: flex;
    margin-bottom:100px;
    justify-content:center;
    padding-top: 10%;
}
.half-width{
    width: 100%;
    padding-left: 8%;
    padding-right: 5%;
}
.half-width img{
    Width:556.01px;
}
.button-link{
    background-image:linear-gradient(rgb(245, 20, 58),rgb(137, 123, 146));
    text-decoration: none; 
    color: whitesmoke;
   padding: 10px 24px;
   border-radius: 2px;
}

/*-----------------------------------2nd part css---------------------------*/


